__pycache__/
*.pyc
catkin_ws/logs/
catkin_ws/build/
catkin_ws/devel/
catkin_ws/.catkin_tools/
*/exercise_ws/.catkin_tools/
*/exercise_ws/build/
*/exercise_ws/devel/
*/exercise_ws/logs/
*/assets/setup/challenges/challenge-evaluation-output
*/assets/setup/challenges/challenge-results
*/assets/setup/challenges/tmp
*resolved
.ipynb_checkpoints
*-filtered*
/visual_lane_following/assets/setup/challenges/out/defined/mooc-viscontrol.challenge_description.yaml
/visual_lane_following/solution/src/visual_lane_following/src/visual_lane_following_activity.py
/visual_lane_servoing/assets/setup/challenges/out/defined/mooc-visservoing.challenge_description.yaml
/visual_lane_servoing/solution/src/visual_lane_servoing/src/visual_servoing_activity.py
